* {
  margin: 0;
  padding: 0;
  background-color: #031055;
}

html,
body {
  font-family: sans-serif;
  background-color: #031055;
}

.contenedor-principal {
  height: 120vh;
  min-width: 600px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  padding-bottom: 30px;
  color: white;
  font-family: Roboto, sans-serif;
}